{% extends 'base.html' %}
{% block titulo %}ASISTENCIA CON RECONOCIMIENTO FACIAL{% endblock %}

{% block contenido %}
{% include 'menu1.html'%}

<h1>Bienvenido, {{session.usuario.nombres}} {{session.usuario.apellido_p}} {{session.usuario.apellido_m}}</h1>

<div class="container-fluid">
    <div class="col-md-12">
        <!-- Formulario -->
        <form action="/prestamos/graficar" method="post" class="needs-validation bg-ligh">
            <div class="row">
                {% if session.usuario.bloqueo == '3' %}
                <h1 class="rojoblink">Estas Bloqueado </h1>
                <h1 class="rojoblink"> para solicitar, debes entregar pedidos pendientes </h1>
                {% else %}
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <label for="tipos">Tipo de Gráfico:</label>
                    <select id="grafico" name="grafico">
                        <option value="line">LINEAS</option>
                        <option value="bar">BARRAS</option>
                        <option value="radar">RADAR</option>
                    </select>
                    <label class="custom-select d-block w-300" for="yearInput">Selecciona una o todas las familias</label>
                    <select name="familia_id" class="custom-select d-block w-300" id="selectActivos">
                        <option value="">Todas las Familias</option>
                        {% for familia in familias %}
                        <option value="{{ familia.id }}"> {{ familia.nombre }}</option>
                        {% endfor %}
                    </select>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                        
                            <label class="custom-select d-block w-300" for="yearInput">Selecciona un año:</label>
                            <input type="number" id="yearInput" name="anio"  max="2025" min="2022">
                        </div>
                        <div class="row">
                            <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
                            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
                        </div>
                        <div class="row col-md-12">
                            <label for="fecha_termino" class="form-label">Fecha Término</label>
                            <input type="date" class="form-control" id="fecha_termino" name="fecha_termino">
                            
                        </div>
        
                </div>
                {% endif %}
                
                    <button type="submit" class="btn btn-success">Graficar</button>
                </div>
            </div>
        </form>
        

        

    </div>
    {% endblock %}
    <script>
        function val_fam() {
            var selectElement = document.getElementById('selectActivos');
            var selectedValue = selectElement.value;
            activos_id = selectedValue !== '' ? selectedValue : '500';
        }
    </script>