<!DOCTYPE html>
<html>
<head>
    <title>Gráfico</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js%22%3E</script>
</head>
<body>
    <canvas id="myChart "width="400" height="400"> </canvas>




    <script>+
        var x_values = {{ x_values|tojson }};
        var y_values = {{ y_values|tojson }};

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: x_values,
                datasets: [{
                    label: 'Valores del gráfico',
                    data: y_values,
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgb(0, 123, 255)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
</body>


</html>
