<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>      
        var data = {{ fa_anio | tojson }};

        var tip = {{ paso.grafico | tojson }};
    
        console.log(JSON.stringify(data)) 
        console.log(JSON.stringify(tip))

        var meses = data[0];
        var valores = data.slice(1);
        console.log("Valor de data:", data);
        console.log("Valor de tip:", tip);
        console.log("Valor de meses:", meses);
        console.log("Valor de valores:", valores);

        // Crear un contexto para el gráfico
        var ctx = document.getElementById('myChart').getContext('2d');

        // Crear la configuración del gráfico
        var chartConfig = {
            type: tip,   
            data: {
                labels: meses,
                datasets: []
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Valores Mensuales'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        // Agregar las series al gráfico
        for (var i = 0; i < valores.length; i++) {
            var dataset = {
                label: 'Familia ' + (i + 1),
                borderColor: 'rgb(254, 2, 2)',
                data: valores[i]
            }
            chartConfig.data.datasets.push(dataset);
        }

        // Crear el gráfico
        new Chart(ctx, chartConfig);
    </script>
</body>
</html>
