<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> </a>
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
                <li class="nav-item">
                    <div class="d-flex" role="search">
                        <a class="btn btn btn-info" href="/salir">Salir</a>
                    </div>   
                </li>
                        
        </div>
    </div>
</nav>